// Custom styles for sidebar

@import '@/styles/base/mixins.scss';
@import '@/styles/base/dimensions.scss';

.navbar {
  &_container {
    @include flex(space-between, center, column);
    background-color: $black;
    height: 100vh;
    width: 150px;
    border-right: 1px solid $grey-1;
  }

  &_logo {
    width: 100px;
    height: 100px;
    background-color: pink;
  }
}